<main class="main-content bgc-grey-100">
    <div id="mainContent">
        <div class="container-fluid">
            <h1 class="text-black-50 text-center">Report Post</h1>

            <form method="POST" action="/editor/report-post">

                <div class="form-group disabled">
                    <label for="author_name">Author name</label>
                    <input type="text" readonly class="form-control" id="author_name" value="{{post.author_name}}">               
                </div>

                <div class="form-group disabled">
                    <label for="author_name">Titlle</label>
                    <input type="text" readonly class="form-control" id="author_name" value="{{post.title}}">               
                </div>

                <div class="form-group">
                    <label for="fail_reason">Fail Reason</label>
                    <textarea class="form-control" id="fail_reason" rows="10" name="fail_reason"></textarea>
                </div>

                <button type="submit" class="btn btn-success form-control">Submit</button>

            </form>
        </div>
    </div>
</main>